* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

.topo {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 90px;
    margin: 8px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.flex-item-left {
    flex-direction: column;
    padding: 8px;
    flex: 50%;
}

.flex-item-right {
    flex-direction: column;
    padding: 8px;
    flex: 50%;
    z-index: 2;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

span {
    color: #017143;
    font-size: 50px;
    font-weight: 800;
    margin: 8px;
}

div>p {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}

.botao {
    background-color: #017143;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin: 8px;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: right;
    margin-left: 16px;
    margin: 8px;
}

.menu img {
    width: 70px;
    margin: 16px;
}

.copo-pequeno {
    width: 60px;
    margin: 16px;
    cursor: pointer;
    transition: 1s;
}

.copo-pequeno:hover {
    transform: translateY(-25px);
}

.flex-item-right>.copo-grande {
    width: 550px;
    padding-top: 120px;
    padding-left: 170px;

}

.copo-grande img {
    width: 260px;
    margin: 64px;
}

.circulo {
    background: #017143;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 800px);
    z-index: 1;
}

@media (min-width: 412px) and (max-width: 914px) {
    .flex-container {
        flex-direction: column;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-left: 16px;
        margin: 8px;
    }

    .copo-pequeno {
        width: 60px;
        margin: 16px;
        cursor: pointer;
        transition: 1s;
    }

    .flex-item-right>.copo-grande {
        width: 100%;
    }

    .copo-grande img {
        width: 70%;
        margin: 15px;
    }

    .circulo {
        background: #017143;
        width: 100%;
        height: 900px;
        position: absolute;
        bottom: 0;
        left: 0;
        clip-path: circle(47.7% at 100% 100%);
        z-index: 1;
    }
}

@media (min-width: 320px) and (max-width: 658px) {
    .flex-container {
        flex-direction: column;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-left: 16px;
        margin: 8px;
    }

    .copo-pequeno {
        width: 60px;
        margin: 16px;
        cursor: pointer;
        transition: 1s;
    }

    .flex-item-right>.copo-grande {
        width: 100%;
    }

    .copo-grande img {
        width: 70%;
        margin: 15px;
    }

    .circulo {
        background: #017143;
        width: 100%;
        height: 900px;
        position: absolute;
        bottom: 0;
        left: 0;
        clip-path: circle(47.7% at 100% 100%);
        z-index: 1;
    }
}